/*
Author: Judy H. Nguyen
*/
body
{
  background-image: url("http://orig01.deviantart.net/1a6d/f/2013/055/f/d/cadbury_chocolate_custom_box_background_by_gasara-d5w2af4.gif");
}

a
{
  text-decoration: none;
  color: #afe3f8;
}

h2
{
  color: #808B96;
}

h4
{
  color: #b1e1e1;
}

span.hidden-message{
  opacity: 0.0;
}
span.shown-message{
  opacity: 1.0;
}

.credit
{
  z-index: 1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #afe3f8;
  text-align: center;
  font-size: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  width:25px;
  box-shadow:rgba(0,0,0,0.06)2px 2px;
  border: 1px solid #afe3f8;
  border-radius: 100px;
  background: #ffffff;
  -webkit-transition: all 0.6s ease-in-out;
}

.credit:hover{
  font-size: 65%;
  padding: 5px;
  width: 150px;
}

.fixedimg
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #9b8c92;
  text-align: center;
  font-size: 0;

  position: fixed;
  bottom: 10px;
  right: 10px;
  width:70px;
  height: 75px;
  box-shadow:rgba(0,0,0,0.06)6px 6px;
  border: 1px solid #afe3f8;
  border-radius: 10px;
  background: #ffffff;
  -webkit-transition: all 0.6s ease-in-out;
}

.fixedimg:hover
{
  padding: 7px;
  font-size: 65%;
  width: 70px;
}

.selection1
{
  display: inline-block;
  border-radius: 10px;
  box-shadow:rgba(0,0,0,0.06)6px 6px;
  border: 1px solid #dcd3ca;
  font-family: "Tahoma", "Geneva", sans-serif;
  text-align: center;
  font-size: 80%;
  background: #ffffff;
  padding: 12px;
  position: relative;
  color: #968B80;
  top: 75px;
  left: 280px;
  width: 55%;

  overflow: scroll;
}

.selection2
{
    display: inline-block;
    border-radius: 10px;
    box-shadow:rgba(0,0,0,0.06)6px 6px;
    border: 1px solid #dcd3ca;
    font-family: "Tahoma", "Geneva", sans-serif;
    text-align: center;
    font-size: 80%;
    background: #ffffff;
    padding: 12px;
    position: relative;
    color: #968B80;
    top: 125px;
    left: 280px; /*align to always be the same no matter content size*/
    width: 55%;
}

.score
{
  display: inline-block;
  top: 75px; /* align to always be the same no matter content size*/
  box-shadow:rgba(0,0,0,0.06)6px 6px;
  border: 1px solid #dcd3ca;
  font-family: "Tahoma", "Geneva", sans-serif;
  text-align: center;
  font-size: 80%;
  background: #ffffff;
  padding: 12px;
  position: relative;
  color: #968B80;
  left: 320px; /*align to always be the same no matter content size*/
  width: 50%;
}
